.github
.git
*.md
!web/canvas/CHANGELOG.md
.vscode
.gitignore
Makefile
docs
.eslintcache
.gocache
/web/node_modules
/web/dist
/web/classic/node_modules
/web/classic/dist
/web/canvas/node_modules
/web/canvas/dist
/new-api2
!THIRD-PARTY-LICENSES.md
